/* styles.css */

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  background-image: url("assets/background.jpg");
}

@keyframes falling-star {
  0% {
    top: -100px; /* Start position above the game area */
  }
  100% {
    top: calc(90% + 1px); /* End position below the game area */
  }
}

.star {
  width: 50px;
  height: 50px;
  background-image: url("assets/star.png");
  background-size: contain;
  position: absolute;
  animation: falling-star linear; /* Apply the falling-star animation */
}

h1,
h2 {
  text-align: center;
  background-color: #2e4a71;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.instructions {
  background-color: #2e4a71;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
}

#difficulty {
  text-align: center;
  background-color: #2e4a71;
  margin-bottom: 20px;
}

#start-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

/* .gameArea {
    width: 100%;
    min-height: 400px;
    background-color: #ddd;
    margin-bottom: 20px;
    position: relative;
    
  } */

#game-over,
#victory {
  text-align: center;
  color: #fff;
  width: 1200px;
  height: 500px;
  display: none;
  background-image: url("assets/gameover-background.jpg");
  background-size: cover;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

#game-over button,
#victory button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* #timer{
  text-align: center;
  margin: 0 auto;
  
}

#combo{
  text-align: center;
  margin: 0 auto;
} */

#timer,
#combo {
  text-align: center;
  margin: 0 1px;
  background-color: #2e4a71;
  width: 400px;
}

.gameArea {
  width: 1200px;
  height: 500px;
  position: absolute;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  /* border: 5px black solid; */
  background-image: url("assets/game-background.jpg");
  background-size: cover;
}

/* Define border styles for lanes */
/* .gameArea::before,
.gameArea::after,
.divide {
  content: "";
  position: absolute;
  height: 100%;
  border-right: 1px solid #c53535;
} */

/* Adjust positions of each lane */
/* .gameArea::before {
  left: 25%;
} */

/* .gameArea::after {
  left: 50%; 
} */

/* .divide {
  left: 75%;
} */

/* Adjust spacing between lanes */
.lane {
  width: calc(
    (100% / 4) - 1px
  ); /* Divide the game area into four equal parts */
}

#game-info {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* #music {
  border: 1px black solid;
  height : 100px;
  width: 500px; 
  margin: 30px auto;
  display:flex;
  justify-content:center;
} */

.music {
  /* border: 1px black solid; */
  color: white;
  background-color: #2e4a71;
  height: 100px;
  width: 200px;
  margin: 30px auto; /* Adjust the margin as needed */
  text-align: center;
  clear: both; /* Ensure it clears any floating elements */
}

.music-button {
  margin: 2px;
  padding: 10px;
  text-align: center;
}

.music-button img {
  max-height: 50px; /* Adjust the value as needed */
}
